name: CI-CD-Workflow
on:
  push:
    branches: [main]
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - env:
          SSH_PEM_KEY: ${{ secrets.SSH_PEM_KEY }}
      - run: npm install
      - run: npm install -g @nestjs/cli
      - run: npm run build
      - run: npm run deploy